<style type="text/css">
    body {
        background-image: url("https://www.mapletreelogisticstrust.com/~/media/MLT/Section-Banners/MLT_S_IljukCentre.jpg?h=220&la=en&w=735");
      
        background-repeat:repeat-y;
        background-color: #f0e5d5;
        font-family: Arial, Helvetica, sans-serif;
        background-size: 100%;
        background-color: rgba(247,244,237,0.85);
        background-blend-mode: lighten;
    }
</style>