<style type="text/css">
    body {
        background-image: url("https://images.contentstack.io/v3/assets/blte5e6ece6e81816eb/blt8b9538a10678eedc/5f9b7d6d67a7c354926037fa/HKTVmall_ShopFront_1J9A9493_1500_968.jpg");
      
        background-repeat:repeat-y;
        background-color: #f0e5d5;
        font-family: Arial, Helvetica, sans-serif;
        background-size: 100%;
        background-color: rgba(253,247,255,0.83);
        background-blend-mode: lighten;
    }
</style>