<!DOCTYPE html>
<html>
	<head>
		<title>Retailer</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		{% include 'includes/_navbar_retailer.css' %}
		{% block head %}{% endblock %}
	</head>
	<body>
		{% include 'includes/_navbar_retailer.html' %}
		<div class="container">
			{% include 'includes/_messages.html' %}
			{% block body %}{% endblock %}
		</div>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>